body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.selected-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 8px;
    margin-bottom: 16px;
}

.selected-currency {
    position: relative;
    text-align: center;
    padding: 6px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: rgb(184, 190, 198);
}

.deselect-button {
    position: absolute;
    top: -10px;
    right: -10px;
    box-shadow: 0 0 0 3px white;
    color: white;
    background-color: rgb(71 85 105);
    border: 1px solid rgb(71 85 105);
    width: 24px;
    height: 24px;
    border-radius: 100px;
    line-height: 1;
    transition: color 0.2s, background-color 0.2s;
    cursor: pointer;
}

.deselect-button:hover {
    background-color: white;
    color: rgb(71 85 105);
}

.currency-list-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 8px;
}

.currency {
    padding: 6px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: rgb(184, 190, 198);
    cursor: pointer;
}
